nav {
    background-color: #1f1f1f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.logo {
    margin-left: 5rem;
}

ul {
    display: flex;
    margin-right: 3rem;
}

li {
    display: inline-flex;
    align-items: center;
    margin-right: 60px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #E78E1D;
    text-underline-offset: 4px;
    text-decoration-thickness: 3px;
}

.body-contact {
    margin: 0;
    padding: 0;
    font-family: 'Anek Telugu', sans-serif;
}

.container-1 {
    margin: 0;
    padding: 0;
    background-image: url(./img/fondo-contacto.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 55vh;
    background-position: 0% 30%;
    text-align: center;
} 

.logo-contact {
    margin-top: 2%;
    margin-left: 2%;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 2%;
    margin-left: 2%;
}

.images {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    font-size: 10px;
}

.icon {
    width: 40px;
}

.container-2 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 23vh;
    text-align: center;
} 

h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 15px;
    text-align: center;
    margin-top: 2%;
}

h2::after, h2::before {
    content: '';
    position: absolute;
    background-color: #E78E1D;
    width: 300px;
    height: 2px;
    top: 1.5em;
    margin-top: 25.5rem;
}

h2::before  {
    right: 43.5rem;
}

h2::after  {
    left: 43.5rem;
}

.div-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button1 {
    margin-left: 25%;
}

.button2 {
    margin-right: 25%;
}

.button-contact {
    text-transform: uppercase;
    font-weight: 700;
    height: 44px;
    margin-top: 2%;
    border: none;
    color: #000000;
    background-color: #FFFFFF;
    padding: 5px 30px;
    cursor: pointer;
    border: solid 2px #000000;
    letter-spacing: 2px;
}

.container-3 {
    height: 37vh;
    background-color: #CFCFCF;
    display: flex;
    flex-direction: column;
    
}

.columns {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 1%;
}

.div-bottom {
    margin-top: 0;
}

.p-bottom {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 15px;
}

.subtitle {
    margin-bottom: -7%;
}

.footer {
   display: flex;
   align-items: baseline;
   margin-top: 2rem;
}

.copyright {
    margin-left: 2rem;
}

.facebook {
    margin-left: 35rem;
}

.instagram {
    margin-left: 1rem;
}

.facebook, .instagram {
    width: 26px;
    height: 26px;
}

.to-top{
	color:#000000;
	padding-top: 1.8em;
	display: inline-block;
	position: relative;
	border-color: #000000;
	text-decoration: none;
    text-align: center;
	transition: all .3s ease-out;
    margin-bottom: 0;
    margin-left: 0;
}
.to-top:before{
	content: '▲';
	font-size: .9em;
	position: absolute;
	top: 0;
	left: 50%;
	border:solid .13em #000000;
	border-radius: 10em;
	width: 1.4em;
	height: 1.4em;
	line-height: 1.3em;
	border-color: inherit;
	transition: transform .5s ease-in;
    margin-top: 4px;
    margin-left: 17rem;
}
.to-top:hover{
	color: #FFFFFF;
	border-color: #FFFFFF;
}
.to-top:hover:before{
	transform: rotate(360deg);
}

